* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ff1756;
}

body {
    background-image: url('../images/3402668.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card {
    width: 320px;
    height: 420px;
    background: linear-gradient(to bottom, var(--main-color)114px, #fff 114px);
    padding: 50px 0;
    border-radius: 16px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #fff;
    border: 3px dashed var(--main-color);
}

.card h4 {
    color: var(--main-color);
    margin-top: 0.5rem;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 700;
}

.card h5 {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0.3rem;
    font-size: 14px;
}

.details {
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-around;
}

.datails_col {
    display: flex;
    flex-direction: column;
}

.datails_col span:first-child {
    font-weight: bold;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.datails_col span:last-child {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}

.detail_btn_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.datails_btn {
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 0.5rem 2rem;
    border-radius: 13px;
    border: 3px solid var(--main-color);
}

.detail_btn_container button:first-child {
    background-color: var(--main-color);
    color: #fff;
}

.detail_btn_container button:last-child {
    color: var(--main-color);
    background-color: #fff;
}

.theme {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 16px;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    outline: none;
}

.btn1 {
    background-color: #3498db;
}

.btn2 {
    background-color: #ff1756;
}

.btn3 {
    background-color: #1cb65d;
}

.btn4 {
    background-color: #8e44ad;
}

.btn5 {
    background-color: #f4b932;
}